@model ProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}

<section style="background-color: #eee;">
    <input id="userId" type="hidden" value="@Model.Id" />
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src=@Model.ProfileImageUrl alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.FirstName @Model.LastName</h5>
                        <p class="text-muted mb-1">
                            <i class="fa-solid fa-person-walking-luggage"
                               data-toggle="tooltip" data-placement="top" title="Count of trips as a passenger"></i>: @Model.CountOfTripsAsPassenger
                        </p>
                        <p class="text-muted mb-1">
                            <i class="fa-solid fa-car"
                               data-toggle="tooltip" data-placement="top" title="Count of trips as a driver"></i>: @Model.CountOfTripsAsDriver
                        </p>
                        @if (ViewBag.UserId == Model.Id)
                        {
                            <div class="d-flex justify-content-center mb-2">
                                <a asp-controller="User" asp-action="Edit" asp-route-userId="@Model.Id" class="btn btn-outline-primary ms-1">Edit</a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        @if (ViewBag.UserId == Model.Id)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone Number</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.PhoneNumber</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                <section class="content-item" id="comments">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-11">
                                <form>
                                    <h3 class="pull-left">New Comment</h3>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-3 col-lg-2 hidden-xs">
                                            </div>
                                            <div class="form-group commentSection">
                                                <textarea class="form-control" id="message" placeholder="Your comment" required=""></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <a id="submitButton" class="btn btn btn-primary pull-right">Submit</a>
                                </form>

                                <h3>Comments</h3>

                                <ul id="commentsUl">
                                    @foreach (var comment in Model.Comments)
                                    {
                                        <li>
                                            <div class="media">
                                                <a class="pull-left" href="/User/MyProfile/@comment.CreatorId"><img class="media-object" src="@comment.CreatorProfileImageUrl" alt=""></a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">@comment.CreatorName</h4>
                                                    <p>@comment.Content</p>
                                                    <ul class="list-unstyled list-inline media-detail pull-left">
                                                        <li><i class="fa fa-calendar"></i>@comment.CreatedOn</li>
                                                        <li><i class="fa fa-thumbs-up"></i>13</li>
                                                    </ul>
                                                    <ul class="list-unstyled list-inline media-detail pull-right">
                                                        <li class=""><a href="">Like</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        const create = async function (e) {
            e.preventDefault;

            let textAreaElement = document.getElementById('message');

            if (textAreaElement.value.length > 0) {
                var model = {
                    creatorId: '@ViewBag.UserId',
                    receiverId: document.getElementById('userId').value,
                    createdOn: '@DateTime.UtcNow',
                    content: textAreaElement.value
                }

                fetch("/Comment/CreateComment", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(model)
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result == true) {
                            textAreaElement.value = '';
                            showComments();
                        }
                    })
            }
        }

        const showComments = async function () {
            let receiverId = document.getElementById('userId').value;
            fetch(`/Comment/GetComments?userId=${receiverId}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => response.json())
                .then(comments => {
                    let commentsUl = document.getElementById('commentsUl');
                    commentsUl.innerHTML = '';
                    comments.forEach(x => {
                        let liElement = document.createElement('li');
                        liElement.innerHTML = `<div class="media">
                                                                    <a class="pull-left" href="/User/MyProfile/${x.creatorId}"><img class="media-object" src="${x.creatorProfileImageUrl}" alt=""></a>
                                                                    <div class="media-body">
                                                                            <h4 class="media-heading">${x.creatorName}</h4>
                                                                            <p>${x.content}</p>
                                                                            <ul class="list-unstyled list-inline media-detail pull-left">
                                                                                <li><i class="fa fa-calendar"></i>${x.createdOn}</li>
                                                                                <li><i class="fa fa-thumbs-up"></i>13</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled list-inline media-detail pull-right">
                                                                                 <li class=""><a href="">Like</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>`;
                        commentsUl.appendChild(liElement);
                    })
                })
        }

        let submitButton = document.getElementById('submitButton');
        submitButton.addEventListener('click', create);
    </script>
}