@model EditTripViewModel

@{
    ViewData["Title"] = "Edit Trip";
    string dateTest = Model.Date.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T');
}

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Create a Trip</h3>
                    <form asp-controller="Trip" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="hidden" asp-for="@Model.DriverId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger ml-4"></div>
                        <fieldset class="p-4">
                            <div class="form-group" id="divElement">
                                <label asp-for="@Model.StartDestinationId"></label>
                                <select asp-for="@Model.StartDestinationId" class="form-control selectDiv">
                                    @foreach (var dest in Model.StartDestinations)
                                    {
                                        <option value="@dest.Id">@dest.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.StartDestinationId" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="divElement">
                                <label asp-for="@Model.EndDestinationId"></label>
                                <select asp-for="@Model.EndDestinationId" class="form-control selectDiv">
                                    @foreach (var dest in Model.EndDestinations)
                                    {
                                        <option value="@dest.Id">@dest.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group" id="divElement">
                                <label asp-for="@Model.CarId"></label>
                                <select asp-for="@Model.CarId" class="form-control selectDiv">
                                    @foreach (var car in Model.Cars)
                                    {
                                        <option value="@car.Id">@car.Model</option>
                                    }
                                </select>
                            </div>
                            <div class="form-floating">
                                <label asp-for="@Model.Date"></label>
                                <input asp-for="@Model.Date" type="datetime-local" value="@Model.Date.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T')" class="form-control mb-3" aria-required="true" />
                                <span asp-validation-for="@Model.Date" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <label asp-for="@Model.PricePerPerson"></label>
                                <input asp-for="@Model.PricePerPerson" class="form-control mb-3" type="number" aria-required="true" />
                                <span asp-validation-for="@Model.PricePerPerson" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <label asp-for="@Model.CountOfSeats"></label>
                                <input asp-for="@Model.CountOfSeats" class="form-control mb-3" type="number" aria-required="true" />
                                <span asp-validation-for="@Model.CountOfSeats" class="text-danger"></span>
                            </div>
                            <div class="container" id="divContainer">
                                <div class="row">
                                    <div class="col divCol">
                                        <div class="checkbox loggedin-forgot ml-3">
                                            <label asp-for="@Model.SpaceForLuggage" class="form-label">
                                                <input class="checkbox form-check-input" asp-for="@Model.SpaceForLuggage" />
                                                @Html.DisplayNameFor(m => m.SpaceForLuggage)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col divCol">
                                        <div class="checkbox loggedin-forgot ml-3">
                                            <label asp-for="@Model.AllowedBaverages" class="form-label">
                                                <input class="checkbox form-check-input" asp-for="@Model.AllowedBaverages" />
                                                @Html.DisplayNameFor(m => m.AllowedBaverages)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col divCol">
                                        <div class="checkbox loggedin-forgot ml-3">
                                            <label asp-for="@Model.AllowedSmoking" class="form-label">
                                                <input class="checkbox form-check-input" asp-for="@Model.AllowedSmoking" />
                                                @Html.DisplayNameFor(m => m.AllowedSmoking)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col divCol">
                                        <div class="checkbox loggedin-forgot ml-3">
                                            <label asp-for="@Model.AllowedFood" class="form-label">
                                                <input class="checkbox form-check-input" asp-for="@Model.AllowedFood" />
                                                @Html.DisplayNameFor(m => m.AllowedFood)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating">
                                <label asp-for="@Model.AdditionalInformation"></label>
                                <textarea asp-for="@Model.AdditionalInformation" class="form-control mb-3" rows="3" aria-required="true"></textarea>
                                <span asp-validation-for="@Model.AdditionalInformation" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary font-weight-bold mt-3">Create</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}