@model IEnumerable<TripViewModel>

@{
    ViewData["Title"] = "My Trips";
}

<section class="dashboard section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="widget dashboard-container my-adslist">
					<table class="table table-responsive product-dashboard-table">
						<tbody>
							@foreach (var trip in Model)
							{
								<tr>
									<td class="product-thumb">
										<a href="/User/Details/@trip.DriverId"><img width="130" src="@trip.DriverImageUrl" class="imgElement" alt="image description"></a>
										<span><strong>@trip.DriverName</strong></span>
									</td>
									<td class="product-details">
										<span><strong>From</strong> @trip.StartDestination</span>
										<span><strong>To</strong> @trip.EndDestination</span>
										<span><strong>Car</strong> @trip.Car</span>
										<span><strong>Price</strong> @trip.Price лв.</span>
									</td>
									<td class="product-details">
										<span><strong>Date</strong> @trip.Date</span>
										<span><strong>Free Seats</strong>@trip.FreeSeats of @trip.AllSeats</span>
										<span class="@(trip.IsActive ? "status active" : "status notActive")"><strong>Status</strong>@(trip.IsActive ? "Active" : "Not Active")</span>
									</td>
									<td class="action" data-title="Action">
										<div class="">
											<ul class="list-inline justify-content-center">
												<li class="list-inline-item">
													<a data-toggle="tooltip" data-placement="top" title="View" class="view" href="/Trip/Details/@trip.Id">
														<i class="fa fa-eye"></i>
													</a>
												</li>
												@if (trip.DriverId == ViewBag.CurrentUserId)
												{
													<li class="list-inline-item">
														<a data-toggle="tooltip" data-placement="top" title="Edit" class="edit" href="/Trip/Edit/@trip.Id">
															<i class="fa fa-pencil"></i>
														</a>
													</li>
													<li class="list-inline-item">
														<a data-toggle="tooltip" data-placement="top" title="Delete" class="delete" href="/Trip/Delete/@trip.Id">
															<i class="fa fa-trash"></i>
														</a>
													</li>
												}
											</ul>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="dashboard-my-ads.html" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="dashboard-my-ads.html" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>